.screen-footer {
    height: $footer-height;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    div {
        height: 90%;
    }

    &-btncontainer {
        position: relative;
        width: 25%;
        margin-bottom: 10px;
        overflow: visible;

        display: flex;
        justify-content: center;
        align-items: center;

        &-text {
            @include subtle-text(medium);
            position: absolute;
            left: 50%;
            top: -20%;
            transform: translateX(-50%);
            
        }
    }

    &-sizebtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        @include bg-image-center(url('../../public/img/8-Bit\ Button.png'));
        padding: $small-button-inner-padding;
    }

    &-playbtn { 
        width: 10%;
        @include bg-image-center(url('../../public/img/Play\ Icon.png'));
        @include button-hover;
    }

    &-savebtn {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        @include bg-image-center(url('../../public/img/8-Bit\ Button.png'));
        @include button-hover;
        //margin-right: $small-side-separator;
        padding-right: $small-button-inner-padding;

        #save-icon {
            height: 50%;
            width: 50%;
            @include bg-image-position(url('../../public/img/Save\ Icon.png'), center center);
        }
    }

}

@media only screen and (max-width: 1000px) {
    .screen-footer {
        div {
            height: 80%;
        }

        &-btncontainer {
            margin-bottom: 0;
        }
    }

}