@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-items {
    display: grid;
    place-items: center;
}