body {
    background: #111;
    color: #f8f8f8;
    height: 100%;
}

canvas {
    background: #f8f8f8;
    padding: 0;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}