@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0; } }

#mazeJS {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-weight: 100;
  font-size: clamp(4rem, calc(4vw + 1rem), 5rem);
  text-align: center;
  text-shadow: 1px 1px 10px rgba(10, 10, 10, 0.7); }
  #mazeJS span {
    color: #FEBA35; }

#subtitle {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 20px; }

.menu-item-title {
  margin: -50px;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  font-size: 3rem; }

span.ripple {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7); }

@media (max-width: 900px) {
  #subtitle {
    letter-spacing: 10px; } }

#screen-title {
  margin-left: 30px;
  font-family: "Press Start 2P", cursive;
  font-weight: 100;
  font-size: clamp(2rem, calc(2vw + 1rem), 2.5rem);
  text-align: left;
  text-decoration: underline; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFF4;
  overflow-x: hidden; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

.arrow-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-items: center;
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  bottom: 5vh; }
  .arrow-container .arrow {
    box-sizing: border-box;
    height: 5vh;
    width: 5vh;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out; }
  .arrow-container:hover {
    cursor: pointer; }
    .arrow-container:hover .arrow {
      border-color: #7F807A;
      border-bottom-width: 4px;
      border-right-width: 4px; }

.dropdownForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  border-radius: 2px;
  background-image: url("../../public/img/Drop-Down Icon.png");
  background-repeat: no-repeat;
  background-position: center right;
  border: none;
  font-size: 2em;
  background-color: #7F807A;
  font-family: "Press Start 2P", cursive;
  word-spacing: -10px;
  letter-spacing: -5px;
  padding: 5px;
  padding-right: 30px; }
  .dropdown option {
    text-align: center; }

#gridSizeList {
  width: 100%;
  background-size: 10%;
  word-spacing: -20px; }

#algorithmList {
  background-size: 5%; }

.menu-item {
  height: 100vh;
  width: auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 0 black;
  filter: brightness(70%); }
  .menu-item-title {
    display: block;
    z-index: 4;
    position: absolute;
    left: -5%;
    bottom: 15vh;
    transform: rotate(-90deg);
    margin-bottom: 10px; }

@media (max-width: 900px) {
  .menu-item {
    height: auto;
    width: 100vw; } }

#generate {
  background-color: #CCCCC3;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #generate:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }
  #generate p {
    left: -17%;
    bottom: 22vh; }

#solve {
  background-color: #FEBA35;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #solve:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }

#build {
  background-color: #FFFFF4;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #build:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }

#about {
  background-color: #7E8054;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #about:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }

.monitor {
  width: 100%;
  height: 95%;
  display: grid;
  grid-template-rows: 0.8fr 0.2fr;
  grid-gap: 0px;
  align-items: center;
  justify-items: center; }
  .monitor-canvas-container {
    width: 540px;
    height: 100%;
    background-image: url("../../public/img/Frame.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; }
  .monitor-base {
    width: 90%;
    height: 100%;
    background-image: url("../../public/img/Chin.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

#return-button {
  height: 30px;
  width: 30px;
  display: block;
  background: url("../../public/img/Back Arrow.png") left top;
  background-repeat: no-repeat;
  float: left;
  margin: 5px 5px 0 0;
  transition: transform 250ms linear; }
  #return-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px #FEBA35); }

.theme-toggle {
  width: 100px;
  height: 50px;
  margin-right: 30px;
  border-radius: 25px;
  position: relative;
  display: block; }
  .theme-toggle-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 100ms linear;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: #CCCCC3; }
    .theme-toggle-button-active {
      transform: translate(115%, -50%); }
    .theme-toggle-button-inactive {
      transform: translate(0, -50%); }

.theme-toggle-active {
  background-color: #FEBA35; }
  .theme-toggle-active div {
    transform: translate(115%, -50%); }

.theme-toggle-inactive {
  background-color: #7F807A; }
  .theme-toggle-inactive div {
    transform: translate(0, -50%); }

header {
  width: 100vw;
  height: 10vh;
  margin: 0;
  z-index: 1; }

.banner {
  position: absolute;
  display: flex;
  justify-content: flex-end; }
  .banner-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    margin-right: 5vw;
    width: 20vw;
    height: auto; }
    .banner-socials-icon {
      width: 36px;
      height: 36px;
      opacity: 0.8;
      transition: opacity 150ms ease-in-out; }
      .banner-socials-icon:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.4); }

.screen-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw; }

.screen-footer {
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0; }
  .screen-footer div {
    height: 80%; }
  .screen-footer-sizebtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    background-image: url("../../public/img/8-Bit Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    margin-left: 30px;
    padding-left: 10px; }
  .screen-footer-playbtn {
    width: 10%;
    background-image: url("../../public/img/Play Icon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 300ms ease-in-out;
    transition-property: filter transform; }
    .screen-footer-playbtn:hover {
      cursor: pointer;
      filter: brightness(1.5);
      transform: scale(1.1); }
  .screen-footer-savebtn {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../../public/img/8-Bit Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    transition: all 300ms ease-in-out;
    transition-property: filter transform;
    margin-right: 30px;
    padding-right: 10px; }
    .screen-footer-savebtn:hover {
      cursor: pointer;
      filter: brightness(1.5);
      transform: scale(1.1); }
    .screen-footer-savebtn #save-icon {
      height: 50%;
      width: 50%;
      background-image: url("../../public/img/Save Icon.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }

@media only screen and (max-width: 1600px) {
  .screen-footer-savebtn {
    justify-content: center; } }

#menu {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr); }

@media (max-width: 1200px) {
  #menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    #menu div {
      width: 50vw;
      height: 50vh; } }

@media (max-width: 800px) {
  #menu {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr); }
    #menu div {
      width: 100vw;
      height: 50vh; } }

#landing-bg {
  background-color: #FFFFF4; }

#animation {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: opacity(35%); }

#main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw; }
  #main .main-logo {
    z-index: 1;
    width: auto;
    text-align: justify; }

#generate-bg {
  background-color: #CCCCC3;
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  place-items: center;
  align-items: center;
  margin: 0;
  height: 100vh; }

canvas {
  background: #f8f8f8;
  padding: 5px;
  display: block; }

#solve-bg {
  background-color: #FEBA35;
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  place-items: center;
  align-items: center;
  margin: 0;
  height: 100vh; }

canvas {
  background: #f8f8f8;
  padding: 5px;
  display: block; }
