@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0; } }

#mazeJS {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-weight: 100;
  font-size: clamp(4rem, calc(4vw + 1rem), 5rem);
  text-align: center;
  text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.7); }
  #mazeJS span {
    color: #FCE196; }

#subtitle {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 20px; }

.menu-item-title {
  margin: -50px;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  font-size: 3rem; }

span.ripple {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7); }

@media (max-width: 900px) {
  #subtitle {
    letter-spacing: 10px; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFF4;
  overflow-x: hidden; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

.arrow-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-items: center;
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  bottom: 5vh; }
  .arrow-container .arrow {
    box-sizing: border-box;
    height: 5vh;
    width: 5vh;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out; }
  .arrow-container:hover {
    cursor: pointer; }
    .arrow-container:hover .arrow {
      border-color: #7F807A;
      border-bottom-width: 4px;
      border-right-width: 4px; }

.menu-item {
  height: 100vh;
  width: auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 0 black;
  filter: brightness(70%); }
  .menu-item-title {
    display: block;
    z-index: 4;
    position: absolute;
    left: -5%;
    bottom: 15vh;
    transform: rotate(-90deg); }

@media (max-width: 900px) {
  .menu-item {
    height: auto;
    width: 100vw; } }

#generate {
  background-color: #CCCCC3;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #generate:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }
  #generate p {
    left: -17%;
    bottom: 22vh; }

#solve {
  background-color: #FCE196;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #solve:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }

#build {
  background-color: #FFFFF4;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #build:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }

#about {
  background-color: #7E8054;
  transition: all 300ms ease-in-out;
  transition-property: filter box-shadow; }
  #about:hover {
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 50px 10px black;
    filter: brightness(100%); }

header {
  width: 100vw;
  height: 10vh;
  margin: 0;
  z-index: 1; }

.banner {
  position: absolute;
  display: flex;
  justify-content: flex-end; }
  .banner-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    margin-right: 5vw;
    width: 20vw;
    height: auto; }
    .banner-socials-icon {
      width: 36px;
      height: 36px;
      opacity: 0.8;
      transition: opacity 150ms ease-in-out; }
      .banner-socials-icon:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.4); }

#menu {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr); }

@media (max-width: 1200px) {
  #menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    #menu div {
      width: 50vw;
      height: 50vh; } }

@media (max-width: 800px) {
  #menu {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr); }
    #menu div {
      width: 100vw;
      height: 50vh; } }

#landing-bg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: opacity(40%); }

#main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw; }
  #main .main-logo {
    z-index: 1;
    width: auto;
    text-align: justify; }
