#mazeJS {
    margin: 0;
    font-family: $retro-font;
    font-weight: 100;
    font-size: $main-title-size;

    span {
        color: $yellow;
    }
}

#subtitle {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $subtle-font;
    font-weight: 400;
    font-size: 2rem;
}
