// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Colors
$dark-grey: #7F807A;
$yellow: #FEBA35;
$green: #84F173;
$white: #FFFFF4;
$light-grey: #CCCCC3;
$brown: #7E8054;

// Font Variables
$retro-font: 'Press Start 2P', cursive;
$subtle-font: 'Roboto', sans-serif;

$main-title-size: clamp(4rem, calc(4vw + 1rem), 5rem);
$screen-title-size: clamp(2rem, calc(2vw + 1rem), 2.5rem);

// Sizes
$banner-height: 10vh;
$footer-height: 15vh;

$large-side-separator: 5vw;
$small-side-separator: 30px;
$top-bottom-separator: 5vh;

$text-bottom-separator: 10vh;
$text-left-separator: -5vw;

$dropdown-text-font-size: 2em;

$small-button-inner-padding: 10px;
$toggle-button-inner-padding: 20px;