.dropdownForm {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: relative;

    border-radius: 2px;
    background-image: url('../../public/img/Drop-Down\ Icon.png');
    background-repeat: no-repeat;
    background-position: center right;

    border: none;
    font-size: $dropdown-text-font-size;
    background-color: $dark-grey;
    font-family: $retro-font;
    word-spacing: -10px;
    letter-spacing: -5px;
    padding: 5px;
    padding-right: 30px;
    
    option {
        text-align: center;
    }

    &:hover {
        cursor: pointer;
    }

}

#gridSizeList {
    width: 100%;
    background-size: 10%;
    word-spacing: -20px;
}

#algorithmList {
    background-size: 5%;
}