.fullscreen-canvas-container-large {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.fullscreen-canvas-container {
    position: absolute;
    display: grid;
    place-items: center;
    background-color: white;
    border: 5px solid black;
    height: 80vh;
    width: 80vh;
}

.fullscreen-canvas {
    width: 90%;
    height: 90%;
    z-index: 2;
    border: 3px solid grey;
}