.load-option {
    display: block;
    width: 100%;
    padding: $small-button-inner-padding;
    border-radius: 5px;
    transition: box-shadow 100ms linear;
    // overflow: scroll;

    background-color: $light-grey;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px black;
    }

    @include subtle-text(medium);
}