.menu-item {
    height: 100vh;
    width: auto;
    overflow: hidden;
    position: relative;

    box-shadow: 0 0 0 0 black;
    filter: brightness(70%);

    &-title {
        display: block;
        z-index: 4;
        position: absolute;
        left: -5%;
        bottom: 15vh;
        transform: rotate(-90deg);
        margin-bottom: $small-button-inner-padding;
    }

}

@media (max-width: 900px) {
    .menu-item {
        height: auto;
        width: 100vw;
    }
}

#generate {
    background-color: $light-grey;
    // @include bg-image(url('../../public/img/generate\ column\ background.jpg'));
    @include menu-item-hover;

    p {
        left: -17%;
        bottom: 22vh;
    }
}

#solve {
    background-color: $yellow;
    // @include bg-image(url('../../public/img/solve\ column\ background.jpg'));
    @include menu-item-hover;
}

#build {
    background-color: $white;
    // @include bg-image(url('../../public/img/build\ column\ background.jpg'));
    @include menu-item-hover;
}

#about {
    background-color: $brown;
    // @include bg-image(url('../../public/img/about\ column\ background.jpg'));
    @include menu-item-hover;
}