.toggle-group {
    display: flex;
    width: 400px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.theme-toggle-container {
    width: 100px;
    height: 100px;
    margin-right: $small-side-separator;
    position: relative;
    display: block
}

.theme-toggle { 
    width: 100%;
    height: 50%;
    border-radius: 25px;
    box-shadow: 0 0 5px black;

    position: relative;
    display: block;

    #toggle-text {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &-description {
        width: 100%;
        margin-bottom: 5px;
        text-align: center;

        font-family: $subtle-font;
        font-size: medium;
    }

    &-hidden {
        filter: brightness(0.5);
        .theme-toggle-button {
            &:hover {
                cursor: auto;
            }
        }
    }

    &-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        box-shadow: 0 0 10px black;

        transition: transform 100ms linear;

        &:hover {
            cursor: pointer;
        }

        &-active {

            transform: translate(115%, -50%);
        }

        &-inactive {

            transform: translate(0, -50%);
        }

        margin-left: 2px;
        margin-right: 2px;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        background-color: $light-grey;
    }

}

.theme-toggle-active {

    background-color: $green;
    filter: brightness(1.1);

    .theme-toggle-button {
        transform: translate(115%, -50%);
    }

    #toggle-text {
        display: inline-block;
        @include subtle-text(x-large);
        left: $toggle-button-inner-padding;
    }
}

.theme-toggle-inactive {

    background-color: $dark-grey;

    .theme-toggle-button {
        transform: translate(0, -50%);
    }

    #toggle-text {
        display: inline-block;
        @include subtle-text(x-large);
        right: $toggle-button-inner-padding;
    }
}
