.theme-toggle { 
    width: 100px;
    height: 50px;
    margin-right: $small-side-separator;
    border-radius: 25px;

    position: relative;
    display: block;

    &-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        transition: transform 100ms linear;

        &-active {
            transform: translate(115%, -50%);
        }

        &-inactive {
            transform: translate(0, -50%);
        }

        margin-left: 2px;
        margin-right: 2px;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        background-color: $light-grey;
    }

}

.theme-toggle-active {

    background-color: $yellow;

    div {
        transform: translate(115%, -50%);
    }
}

.theme-toggle-inactive {

    background-color: $dark-grey;

    div {
        transform: translate(0, -50%);
    }
}
