#generate-bg {
    background-color: $light-grey;
    margin: 0;
    height: 100%;
}

canvas {
    background: #f8f8f8;
    padding: 5px;
    display: block;
}

.canvas-container {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}