#landing-bg {
    background-color: $white;
}

// Canvas Background
#animation {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    filter: opacity(35%);
}

// Main Section
#main {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;

    .main-logo {
        z-index: 1;
        width: auto;
        text-align: justify;
    }
}
